version: '2.1'
orbs: 

jobs:
  checkout_and_build:
     docker:
       - image: cimg/python:3.10.5
     steps:
       - setup_remote_docker
       - checkout 
       - run: pip install awscli
       - run: 
            name: configure aws 
            command: aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID && aws configure set aws_secret_key $AWS_SECRET_KEY && aws configure set default.region $AWS_DEFAULT_REGION
  develop_ssh_connection:
     machine:
        enabled: true
     steps:
        - run:
            name: Deploy Over SSH
            command: |
             ssh $SSH_USER@$SSH_HOST 'ls /'
             aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID && aws configure set aws_secret_key $AWS_SECRET_KEY && aws configure set default.region $AWS_DEFAULT_REGION
             aws ecr get-login-password --region ap-south-1 | docker login --username AWS --password-stdin 310961312410.dkr.ecr.ap-south-1.amazonaws.com
             aws ecr list-images --repository-name test
workflows:  
   for-tailcutter:
      jobs:
        - checkout_and_build:
            context: aws-credentials
            filters:
              branches:
                only:
                 - main
        - develop_ssh_connection:
            context: 
              - ssh_coonection
              - aws-credentials  
            filters:
              branches:
                only:
                 - main      
