version: 2.1

jobs:
   deploy:
     machine:
        enabled: true
     steps:
        - run:
            name: Deploy Over SSH
            command: |
            ssh $SSH_USER@$SSH_HOST "echo "Hello">>test.txt"

workflows:
    build-and-deploy:
    jobs:
        - deploy:
            filters:
            branches:
                only: main # only deploy on the main branch
